$charcoal: #171616;
$blackBean: #2F1000;
$sealBrown: #621B00;
$brown: #945600;
$burntOrange: #C75000;
$banana: #F0DFAD;
$lightLetters: rgb(244, 229, 194);
$red: rgb(207, 65, 25);
$blue: rgb(52, 121, 105);
$green: rgb(75, 128, 0);