@import '../SassVariables/Variables.scss';

.todo {
  display: flex;
  flex-direction: column;
  padding: .6em;
  background-color: $banana;
  border: solid .1em $blackBean;
  position: relative;
  height: 7em;

  .todo__button{
    padding: .8em;
    border: solid black .2em;
    border-radius: 5px;
    margin: .1em;
  }
  .todo__button:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .todo__buttonBox{
    display:flex;
    justify-content: space-between;

    .todo__button--markAsComplete {
      background-color: $brown;
      color: $lightLetters;
    }
    .todo__button--delete {
      background-color: $red;
      color: $lightLetters;
    }
    .todo__button--edit {
      background-color: $blue;
      color: $lightLetters;
    }
  }

  .todo__p {
    font-size: 2em;
    font-family: 'Uchen', serif;

  }

  .todo__p--completed {
    text-decoration: line-through;
  }

  .todo__confirmationBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    padding: .4em;
    border: solid .1em black;
    background-color: $red;
    color: $lightLetters;
    width: 20em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 70%;

    .todo__button--yes {
      padding: .2em;
    }

    .todo__button--no {
      padding: .2em;
    }
  }

  .todo__editBox {
    display: flex;
    align-items: center;

    .todo__input--taskEdit {
      font-size: 2em;
      font-family: 'Uchen', serif;
      position: relative;
      background-color: rgb(248, 237, 229);
      left: -3px;
      top: -3px;
    }

    .todo__editBox--confirmationButtons {
      display: flex;
      flex-direction: column;

      .todo__button--confirm {
        background-color: $green;
        color: $lightLetters;
      }
      
      .todo__button--cancel {
        background-color: $red;
        color: $lightLetters;
      }
    }

    .unmarkCompleteBox {
      display: flex;
      justify-content: center;
      padding: .5em;
      font-size: 1.5em;

      input {
        margin-left: 1em;
      }
    }
  }
}