@import '../SassVariables/Variables';

.userPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: $sealBrown;

  h1 {
    margin-bottom: .5rem;
    font-family: 'Cinzel', serif;
    color: $lightLetters;
  }

  .userPage__newTodo {
    input {
      box-sizing: border-box;
      height: 3rem;
      border: solid black .15rem;
      border-radius: 5px 0 0 5px;
      border-right: 0;
      font-size: 1rem;
      position: relative;
      top: 1px;
    }
    input:active {
      border: solid black .2rem;
      border-right: 0;
    }
    
    button {
      box-sizing: border-box;
      height: 3rem;
      padding: .8rem;
      border: solid black .15rem;
      border-radius: 0 5px 5px 0;    
    }
    button:hover {
      opacity: 80%;
      cursor: pointer;
    }
  }
}