@import '../SassVariables/Variables.scss';

.todo {
  display: flex;
  flex-direction: column;
  padding: .6em;
  background-color: $banana;
  border: solid .1em $blackBean;
  .todo__buttonBox{
    display:flex;
    justify-content: space-between;
  }
  .todo__p {
    font-size: 2em;

  }
  .todo__p--completed {
    text-decoration: line-through;
  }
}